* {
  box-sizing: content-box;
}

body {
  background-color: #1c1a19;
  margin: 0;
}

.menu {
  width: 18px;
  height: 20px;
}

.top-menu {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px;
  width: 375px;
}

.toolbarlogo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  background-color: #3c3a39;
}

.welcomeinfo {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 375px;
  padding: 25px;
  background-image: url(./icons/flair.png);
  background-repeat: no-repeat;
  background-position: 278px 130px;
  height: 500px;
}

.title {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.contact-bar {
  display: flex;
  margin-top: -180px;
  margin-left: 80px;
}
